
/* MAIN HTML BLOCKS "SETTIGNS" */

body {
    margin: 0;
    font-size: 1vw;
    font-family: Arial, sans-serif;
}

main {
    margin-left: 1rem;
    margin-right: ;
}

/* TEXT ELEMENTS "BASE SETTINGS" */

a {
    text-decoration: none;
}

p {
    margin: 0;
}

/* NAVIGATION BAR */

nav {
    /* puts the div elements on top of each other */
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 0;
    padding: 1%;
    padding-left: 1rem;
    padding-right: 1rem; 
}

#top-navbar {
    /* centers logo text */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    font-size: 5vw;
    color: white;
}

#navbar-categories {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}

.navbar-links {
    color: white;
}

/* BODY CONTENT */

.product-page-item-container {
    margin-top: 15rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
