
/* MAIN HTML BLOCKS "SETTIGNS" */

body {
    margin: 0;
    font-size: 1vw;
    font-family: Arial, sans-serif;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* TEXT ELEMENTS "BASE SETTINGS" */

a {
    text-decoration: none;
}

p {
    margin: 0;
}

/* NAVIGATION BAR */


nav {
    /* puts the div elements on top of each other */
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 0;
    padding: 1%;
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-bottom: 0;
}

#top-navbar {
    /* centers logo text */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    font-size: 3vw;
    color: white;
}

#navbar-categories {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar-links {
    color: white;
    /* transition: color 0.3s ease-in-out; */
}

/* Responsive Layout on the Navigation Bar */




/* BODY CONTENT */


/* The cover image, to make it fill screen, side to side, somewhat responsive */
/* https://stackoverflow.com/questions/14142378/how-can-i-fill-a-div-with-an-image-while-keeping-it-proportional */
/* .cover-image {
    display: flex;
    justify-content: center;
} */

.cover-image img {
    min-width: 100%;
}

/* .index-body-content-container {
    display: grid;
    grid-template-areas:
    'container container container'
    'container container container';
}

.index-body-content {
    grid-area: container;
} */

#img-shop-categories {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.category-img {
    object-fit: contain;
}

.cat-img-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .product-image {
    width: 100%;
    max-width: 1000px; 
    height: auto;
} */

.history-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.history-image {
    padding: 7%;
}

.history-text {
    display: grid;
    justify-content: center;
}

#history-text-container {
    margin-bottom: 5rem;
}

/* https://www.w3schools.com/css/css3_buttons.asp */
#button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 10%;
    cursor: pointer;
}

#remove-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10%;
    cursor: pointer;
}

#cart-product-picture {
    width: 5%;
}

#cart-container {
    border: 5px black;
    background-color: rgb(245, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

/* FOOTER */

/* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
/* to make sure footer is in correct placement, */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 10rem;
}

footer {
    margin-top: 5%;
    background-color: black;
    /* padding-top: 1%;
    padding-bottom: 2%; */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
}

#footer-logo-copyright {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

.logo-copyright-text {
    margin-top: 2rem;
    color: white;
}

/* ANIMATION */
/* Zoom-in when you hover over product image */

@keyframes hoverAnimation {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    } 
}

/* https://www.youtube.com/watch?v=XAdE0kJxSy8 */
/* help with keyframes/hover animation */
.img-zoom:hover {
    animation-name: hoverAnimation;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

figure {
    overflow: hidden;
}

.product-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* RESPONSIVE WEBSITE */

/* Product Page */
.product-page-item-container {
    margin-top: 3rem;
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 1rem;
    justify-content: center;
}

@media screen and (min-width: 620px) {
    .product-page-item-container {
       margin-top: 4rem;
       margin-left: 5%;
       margin-right: 5%;
       display: grid;
       grid-template-columns: repeat(3, minmax(180px, 1fr));
       padding: 1rem;
       gap: 1rem;
       justify-content: center;
    }
 }
 
 @media screen and (min-width: 1200px) {
    .product-page-item-container {
        margin-top: 6rem;
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: repeat(4, minmax(280px, 1fr));
        padding: 1rem;
        gap: 2rem;
        justify-content: center;
    }
 }

 /* .product-page-item-container {
    margin-top: 30rem;
    margin-left: 15rem;
    margin-right: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    
} */
